body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.branding {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
    padding-left: 5%;
    padding-right: 5%;

    background-color: #003182;
    color: #FCFDFC;
}

    .logo {
        height: 80px;
        width: 80px;
        padding-right: 15px;
    }

    .branding-name {
        font-family: "Raleway", sans-serif;
        font-size: 5.5rem;
        padding-top: 10%;
        padding-bottom: 80px;
    }

    .branding-name a {
        text-decoration: none;
        color: inherit;
    }

    .branding-text {
        font-size: 2.5rem;
        padding-bottom: 48%;
    }

    .buttons {
        display: flex;
        margin-top: 10px;
        width: 256px;
    }

    .print-button {
        flex-grow: 2;
        padding: 10px 0;
        margin-right: 5px;

        background-color: #FFFFFF;
        color: #003182;
        /*border-radius: 5px;*/
        border-color: transparent;
        box-shadow: none;
        font-size: 1.05rem;
        cursor: pointer;
    }

    .save-button-wrapper {
        flex-grow: 1;
    }

    .save-button {
        width: 100%;
        padding: 10px 0;

        background-color: transparent;
        color: #FFFFFF;
        /*border-radius: 5px;*/
        border: 2px solid #FFFFFF;
        box-shadow: none;
        font-size: 1.05rem;
        cursor: pointer;
    }

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    height: 100vh;
    box-sizing: border-box;
    padding: 4% 12%;

    background-color: #FFFFFF;
    color: black;
}

    .form-wrapper form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 520px;
    }

    .form-wrapper input, select {
        width: 100%;
        box-sizing: border-box;
        padding: 18px 16px;
        border-radius: 5px;
        border-color: transparent;
        box-shadow: none;
        font-size: 1.05rem;
        background-color: #F5F3F4;
    }

    .form-wrapper .submit {
        background-color: #003182;
        color: #FFFFFF;
        cursor: pointer;
    }

    .form-header {
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .input-wrapper svg {
        margin-left: 10px;
        color: #003182;
        font-size: 1.2rem;
    }

    .input-wrapper-inner {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
    }

    .password-toggle {
        position: absolute;
        right: 8px;
        cursor: pointer;
    }

.canvas-container {
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 48%;
}

/* Media queries */
@media screen and (max-width: 1000px) {
    .branding-name {
        font-size: 3.3rem;
    }

    .branding-text, .form-header {
        font-size: 1.5rem;
    }

    .form-header {
        padding-bottom: 22px;
    }

    .form-wrapper {
        padding: 4% 6%;
    }

    .form-wrapper form {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .branding-name {
        font-size: 2.3rem;
    }

    .branding-text, .form-header {
        font-size: 1rem;
    }

    .form-wrapper {
        padding: 4%;
    }

    .form-wrapper form {
        width: 100%;
    }

    #qr-canvas {
        height: 164px !important;
        width: 164px !important;
    }

    .buttons {
        width: 164px;
    }
}

@media screen and (max-width: 500px) {
    #qr-canvas {
        height: 128px !important;
        width: 128px !important;
    }

    .buttons {
        width: 128px;
    }
}

.canvas-container, .branding-text {
    padding-bottom: 30vh;
}

/* React CSSTransition animation classes */
.fade-enter {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1200ms;
}

.fade-enter-done {
    display: flex;
    flex-direction: column;
}

.fade-exit {
    display: none;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 1200ms;
}

.fade-exit-done {
    display: none;
}

/* QR Code printing only */
.print-container {
    display: none;
}

@media print {
    .print-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: #FFFFFF;

        font-size: 3rem;
    }

    .print-ssid {
        padding: 20px;
    }

    .print-ssid, .print-password {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#qr-canvas {
    height: 128px;
    width: 128px;
}